<h1>Hello World 2!</h1>

<div class="container">
    <div class="tweet-container">
        <form>
            <textarea class="form-control status-box" rows="2" placeholder="What's happening?"></textarea>
        </form>
        <div class="button-group pull-right">
            <p class="counter">140</p>
            <button id="send" class="btn btn-primary">Tweet</button>
        </div>
    </div>


<div ng-controller="TweetController" class="posts-container">
    <ul ng-repeat="username in messages">
        {{username.user}}
        <li ng-repeat="message in messages">
            {{message.text}}
        </li>
    </ul>
</div>
